.video-preview{
  width: 100%;
  cursor: pointer;
}

.tb1{
  width: 100%;
}
.tb1-title{
  margin-top: 8px;
  margin-bottom: 9px;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;

}

.author-pic{
  margin-top: 15px;
}
.trying-grid1{
  display: grid;
  grid-template-columns: 50px 1fr;
  
}

.deets{
  margin-left: 10px ;
}

.pfp {
  width: 80%;
  border-radius: 50%;
  object-fit: cover;
}

.thumbnail {
  position: relative;
  width: 100%;
  border-radius: 1px;
  overflow: hidden;
  aspect-ratio: 16/9;
  margin-bottom: 8px;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}



.grid-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
  padding: 16px;
  align-items: start;
}


.video-time{
  font-size: 12px;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
  font-weight: 500;
  background-color: black;
  color: white;
  position: absolute;
  bottom: 12px;
  right:8px;

}

.tb1-author,.tb1-deets{
  color: rgb(84, 84, 84);
  font-size: 12px;
}
.tb1-author{
  margin-bottom: 5px;
}